.card {
  width: 25%;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.25);
}

.profile-pic {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

h1 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 3px;
}

.occupation {
  font-size: 0.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 7px;
  color: #94c58c;
}

.phone {
  font-size: 0.4rem;
  font-weight: 400;
  text-align: center;
}
