.card {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.25);
}

.profile-pic {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3px;
}

.occupation {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #F3CB8F;
}

.phone {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}

/* Buttons */

.contact-butt {
  border: none;
  border-radius: 5px;
  height: 34px;
  min-width: 115px;
  font-size: 18px;
  padding: 9px, 13px, 9px, 11px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 25px 8px;
}

i {
  margin: 0 5px;
}

#email-icon {
  color: #374151;
}

#email-icon:hover {
  background-color: #374151;
  color: #FFF;
}

#linkedin-icon {
  color: #FFF;
  background-color: #5093E2;
}

#linkedin-icon:hover {
  color: #5093E2;
  background-color: #FFF;
}

/* ABOUT */

.section-title {
  text-align: center;
  margin-bottom: 0;
  color: #FAF9F6;
  font-weight: 600;
}

p {
  padding-left: 10%;
  max-width: 80%;
  font-size: 0.8rem;
  font-weight: 400;
}


/* FOOTER */

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #161515;
  margin-top: 30px;
  height: 60px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  align-items: center;
  padding: 10px 50px;
}

.footer-icon {
  width: 50px;
  height: 50px;
  background-color:#676d77;
  border-radius: 15px;
  cursor: pointer;
}

